<configuration>
	<connectionStrings>
		<add name="EmployeeDBConnectionString"
			 connectionString="Data Source=LAPTOP-HIMANSHI\SQLEXPRESS;Initial Catalog=EmployeeDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Yeh runtime section add karein -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>
	</system.web>
</configuration>